html {
    body {
        color: #333;
        width: 100%;
        height: 100%;
        font-size: calc(0.9rem + 0.25vw);
        line-height: calc(1.5rem + 0.25vh);
        font-family: 'Fira Sans', sans-serif;
    }

    .site-wrapper {
        max-width: 90vw;
        min-height: 100vh;
        margin: 0 auto;

        .page {
            padding: 2rem;
        }
    }
}

@media (max-width: 768px) {
    html {
        .site-wrapper {
            max-width: 100vw;

            .page {
                padding: 1.5rem 1rem;
            }
        }
    }

}