.not-found {
    width: 25vw;
    margin: 0 auto;
    height: fit-content;

    h1 {
        margin: 1rem 0;
        font-size: 7rem;
    }

    h2 {
        margin: 1rem 0;
        text-transform: none;
    }

    .not-found-message {
        margin: 2rem 0;
        line-height: 1.5;

        ul {
            list-style: disc;
            margin: 0 1.5rem;
        }
    }
}