.aboutpage {
    .aboutpage-image {
        margin-left: 2rem;
        // background: #483F58;

        img {
            display: block;
            width: 100%;
            max-height: 100%;
            object-fit: cover;
            // filter: brightness(60%);
            // mix-blend-mode: luminosity;
            // -webkit-filter: brightness(60%);
        }
    }
}

@media (max-width: 1024px) {
    .row {
        flex-direction: column-reverse;
    }

    .aboutpage {
        .aboutpage-image {
            margin-left: 0;
        }
    }
}