html {
    body {
        color: #333;
        width: 100%;
        height: 100%;
        padding: 2rem;
        overflow-x: hidden;
        line-height: 1.5rem;
        font-size: calc(.9rem + 0.25vw);
        font-family: 'Fira Sans', sans-serif;
    }

    .site-wrapper {
        margin: 0 auto;
        max-width: 90vw;
        min-height: 100vh;
        height: max-content;

        .content-wrapper {
            margin: 2rem 0;
        }
    }
}

@media (max-width: 420px) {
    .content-wrapper {
        margin: 1.5rem 0 !important;
    }
}