pre,
code {
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
}

kbd {
    margin: 1rem 0;
    font-size: 0.9rem;
    line-height: 1.25rem;
    display: inline-block;
    border-radius: 0.25rem;
    background-color: $grey;
    padding: 0.125rem 0.5rem;
    border: 1px solid $lightgray;
}