.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .column {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 1;
        margin: 1rem 0;

        &.col-1 {
            max-width: calc(100% / 12);
        }

        &.col-2 {
            max-width: calc(100% / 12 * 2);
        }

        &.col-3 {
            max-width: calc(100% / 12 * 3);
        }

        &.col-4 {
            max-width: calc(100% / 12 * 4);
        }

        &.col-5 {
            max-width: calc(100% / 12 * 5);
        }

        &.col-6 {
            max-width: calc(100% / 2);
        }
    }
}

@media screen and (max-width: 1024px) {
    .column {
        width: 100%;
        margin: 1rem 0;
        min-width: 100%;
    }
}