table {
    width: 100%;

    tbody {
        tr {
            border-bottom: 1px solid $lightgray;

            td {
                padding: 1rem;
                line-height: 1.5rem;
                word-wrap: break-word;

                a {
                    &:hover {
                        text-decoration: underline;
                        text-decoration-skip-ink: auto;
                    }
                }

                &:first-child {
                    width: 30%;
                    padding-left: 0;
                }

                &:last-child {
                    width: 70%;
                    padding-right: 0;
                }
            }
        }
    }
}