$grey: #eee;
$darkgray: #a5a3a3;
$lightgray: #cecccc;

$purple:#652454;
$darkpurple:#321325;
$lightpurple:#e5cfd5;

$overlay: #483F58;
$whitesmoke: #f7f7f7;
$blackshade: #333;

$primary: $purple;
$secondary: $darkpurple;
$alternative: $lightpurple;

$lowShadow: 0 1px 0 rgba(0, 0, 0, .1);