<nav class="navbar">
    <div class="home-link">
        <a href="/">RGitau</a>
    </div>
    <ul class="nav-menu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ $active := or (eq $currentPage.Title .Name) (or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)) }}
        <li class="nav-menu-link {{ if $active }}active{{ end }}">
            <a href="{{ .URL }}" title="{{ .Identifier }}">
                <span>{{ .Name }}</span>
            </a>
        </li>
        {{ end }}
    </ul>
</nav>