{{ define "main"}}
<section class="page">
    <div class="not-found">
        <h1>404</h1>
        <h2>Oh no! Page not Found.</h2>
        <div class="not-found-message">
            <p>If you're reading this:</p>
            <ul>
                <li>The page has moved.</li>
                <li>The page no longer exists.</li>
                <li>You got lost in thought.</li>
                <li>You like 404 pages.</li>
            </ul>
        </div>
        <div class="not-found-actions">
            <a class="btn btn-outline-primary" href="{{ "/" | relURL }}">
                Please take me to the homepage
            </a>
        </div>
    </div>
</section>
{{ end }}